.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 48px;
    height: 48px;
    path {
      fill: #d4c9bc;
    }
  }

  .item-count {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    bottom: 4px;
    color: rgb(3, 35, 49);
  }

  &:hover {
    .shopping-icon {
      path {
        fill: rgb(161, 62, 3);
      }
    }
  }
}
