.m-2 {
  margin: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.ml-4 {
  margin-left: 1rem;
}
.mr-4 {
  margin-right: 1rem;
}
.fs-16 {
  font-size: 16px;
}
.fs-24 {
  font-size: 24px;
}
.fw-semibold {
  font-weight: 600;
}
.fw-normal {
  font-weight: 400;
}
.fw-bold {
  font-weight: 800;
}
.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(145, 224, 240) rgb(30, 104, 126);
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgb(145, 224, 240);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(145, 224, 240);
  }
  &::-webkit-scrollbar-corner {
    background-color: rgb(30, 104, 126);
  }
}
