.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 40%;

  h1 {
    margin: 10px 0;
    color: #d4c9bc;
    font-family: "Protest Riot", sans-serif !important;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    @media screen and (max-width: 1080px) {
      flex-wrap: wrap;
    }
  }

  .form-description {
    color: rgb(89 130 148);
    font-size: 18px;
  }
}
